html{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
.container{
    width: 1120px;
    margin: auto;
}
.header-infoarea {
    max-width: 560px;
}
.para-area {
    margin-bottom: 50px;
}
.hero-header{
    background-image: url(images/herohader.jpg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 0 3 auto;
    color: #fff;
}
.title{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 75px;
text-transform: uppercase;
}
.title-h2{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 54px;

}
.btn-main{
    background: #EF233C;
    border-radius: 5px;
    padding: 16px 32px;
    color: #fff;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.d-flex{
    display: flex;
}
.half-width {
    width: 48%;
    margin:15px;
    float: left;
    padding: 0 20px;
}
.m-t-8{
    margin-top:8%;
}
.sec-title-area {
    max-width: 550px;
    margin: 10% auto;
}
.charity-title-area{
    margin: 10% auto;
    max-width: 850px;
}
.text-center{
    text-align: center;
}
.box-pink{
    background: #FEF4F5;
border-radius: 10px;
padding: 15px;
display: flex;
flex-direction: row;
}
.img-area {
    padding: 20px;
}
.pad-20{
    padding: 20px;
}
.zkbox{
    border: solid 1px #D9D9D9;
    margin: 0px 5px;
    border-radius: 20px;
}
.btn-dn{
    color: #EF233C;
    font-weight: bold;
}
footer {
    min-height: 140px;
    background: #0b0d17;
    text-align: center;
    padding: 40px 0;
}

.fo-title {
    color: #ff5959;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    font-family: 'Lobster', cursive;
}

.copywrite-text {
    color: #fff;
}

.cpy-link {
    text-decoration: none;
    color: #ff5959;
}